@import "tailwindcss";

/* ===========================
   GLOBAL STYLES
=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: #f8fafc;
  color: #1e293b;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
textarea,
select {
  outline: none;
}